.blog{
    color: #db0682;
    text-decoration: underline;

    
}

.style{
    border:3px solid red;
    display: block ;

}

.header{
    align-items: center;
    height : 300px;
    width: 100%;
    background-image: url(../Images/cover.jpg);
    background-size: contain;
    background-repeat: no-repeat ; 
    background-position: center;
    background-color: rgba(0, 0, 0, 0.269);
    background-blend-mode: multiply;
    color : rgb(7, 6, 6);

}